body{
	background-image: url("../images/stardust.png");
	color:#ffd700;
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1.5;
}

h1{
	font-size: 80px;
	/*color:#444349;*/
	text-align: center;
}

h2 {
	font-size: 40px;
}

.clearFix:after{
  	content: "";
  	display: table;
  	clear: both;
}

.titleContainer{
	/*background-color: #ffd700;*/
	display:table;
	height:200px;
	width:100%;
}

.headerWrapper{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#wordContainer{
	margin-top: 40px;
	font-size:50px;
}

#usedCharsContainer{
	margin-top: 40px;
	max-width: 100%;
	min-width: 100px;
	line-height: 1.5;
}

.myUnderline{
	height:5px;
	width:50px;
	background-color: #ffd700;
}

.charContainer{
	float:left;
	margin-left: 10px;
	margin-bottom: 5px;
}

.mainContent{
	margin:40px;
}

.half{
	width:45%;
	height:100%;
	margin-top: 50px;
}

.left{
	float:left;
}

.right{
	float:right;
}

#guessesRemainingContainer{
	margin-top: 40px;
	max-width: 100%;
	min-width: 100px;
	line-height: 1.5;
}

#guessesRemainingHeader{
	margin-top: 40px;
}

.gametime{
	display: none;
}

#startDivContainer{
	display:table;
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	font-size: 20px;
}

#startDiv{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#myImage{
	position:absolute;
	z-index: -1;
	height:100%;
	right:0;
	margin:auto;
	opacity: 0;
}

#timer{
	width:100%;
	height:100%;
	background-color: #ffd700;
	float:right;
}

#timerWrapper{
	width:100%;
	height:25px;
	border: 2px solid #ffd700; 
}

#timeContainer{
	text-align: center;
}