body{
	background-image: url("../images/stardust.png");
	color:#ffd700;
	font-family: 'Press Start 2P', cursive;
}

h1{
	font-size: 80px;
	/*color:#444349;*/
	margin-left: 50px;
}

.titleContainer{
	/*background-color: #ffd700;*/
	display:table;
	height:200px;
	width:100%;
}

.headerWrapper{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#wordContainer{
	font-size:40px;
}

.myUnderline{
	height:5px;
	width:40px;
	background-color: #ffd700;
}

.charContainer{
	float:left;
	margin-left: 5px;
	margin-bottom: 5px;
}

.mainContent{
	margin:50px;
}
